* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.carousel-inner {
  width: 40rem;
  height: 30rem;
  margin-bottom: 6rem;
  border-radius: 1px;
  -moz-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75); }
  .carousel-inner .carousel-item img {
    width: 100%;
    height: 600px; }

#topBtn {
  display: none;
  position: fixed;
  /* posicion boton */
  bottom: 40px;
  /* se posiciona boton en bottom = 40px */
  right: 30px;
  /* se posiciona 30px a la derecha */
  z-index: 99;
  border: none;
  /* quita los bordes */
  outline: none;
  /* quita lineas exteriores*/
  background-color: #0a0b47;
  /* define color de fondo */
  color: white;
  /* color de texto */
  cursor: pointer;
  /* pointer del mouse */
  padding: 15px;
  /* padding */
  border-radius: 10px;
  /* bordes redondeados */
  font-size: 18px;
  /* incrementa tam letra */ }
  #topBtn:hover {
    background-color: #555;
    /* agrega fondo gris al hover */ }

body .popup-wrapper {
  background: rgba(46, 38, 38, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }

body .popup {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 100%;
  max-width: 300px;
  background: white;
  margin: 10% auto;
  padding: 20px;
  position: relative; }
  body .popup a {
    background: salmon;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    margin: 30px auto;
    display: block;
    width: 50%; }
    body .popup a:hover {
      background: palevioletred;
      transition: all 0.2s; }

body .popup-close {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  font-size: 1.5rem; }

body .contenedor {
  width: 60%;
  gap: 30px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto; }
  body .contenedor .card {
    margin-top: 3rem;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 30px;
    border: 2px solid red; }
    body .contenedor .card .buttonSave {
      background-color: #4CAF50;
      /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px; }
    body .contenedor .card .buttonQuit {
      background-color: #f44336;
      /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px; }

body .arrays {
  width: 100%;
  margin: auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "splash splash1" "controls controls "; }
  body .arrays #splash {
    margin-top: 3rem;
    grid-area: splash; }
    body .arrays #splash img {
      width: 400px;
      height: 300px; }
  body .arrays #splash1 {
    margin-top: 3rem;
    grid-area: splash1; }
    body .arrays #splash1 img {
      width: 400px;
      height: 300px; }
  body .arrays #controls {
    margin-top: 5rem;
    grid-area: controls; }
    body .arrays #controls .buttons {
      background-color: #f8106d;
      color: #f7f7f7;
      border-radius: 1.5rem;
      margin: 10px;
      border: none;
      outline: none;
      text-align: center;
      padding: 0.5rem;
      width: 100%;
      transition: 0.3s;
      cursor: pointer; }
      body .arrays #controls .buttons:hover {
        color: black;
        background-color: #ddd; }

body .btnTD #topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px; }
  body .btnTD #topBtn:hover {
    background-color: #555; }

.numPages {
  display: flex;
  justify-content: center; }
  .numPages p {
    font-size: 25px;
    padding: 2rem; }
    .numPages p .disabled {
      text-decoration: none;
      color: red;
      pointer-events: none;
      cursor: default;
      opacity: 0.6; }

h2 {
  text-align: center;
  color: red; }
