.boxes {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  .box {
    flex: 10%;
    color: white;
    text-align: center;
    background-color: rgba(230, 214, 214, 0.185);
    margin: 10px;
    display: none; /* Hidden by default */
    img {
      margin-top: 10px;
      width: 300px;
      height: 225px;
    }
    box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 0.9);
    transition: 0.3s;
    /* On mouse-over, add a deeper shadow */
    &:hover {
      box-shadow: 0 1px 20px 0 rgba(233, 4, 4, 0.9);
    }
    label {
      color: rgb(241, 235, 241);
      margin-bottom: 20px;
      font-weight: 700;
    }
    p {
      text-decoration-line: underline;
      a {
        font-weight: 700;
        text-decoration: none;
        color: white;
      }
    }
  }
  .addElement{
    background-color: rgba(230, 214, 214, 0.185);
    text-align: center;
    h3{
      color: red;
    }
    img{
      width: 300px;
      height: 200px;
    }
  }
  .show {
    display: block;
  }
}


// box del array

.contents{
  justify-content: center;
  justify-items: center;
  .boxes{
    background-color: rgba(230, 214, 214, 0.185);
    margin: 10px;
    img {
      margin-top: 10px;
      width: 500px;
      height: 400px;
      margin-bottom: 10px;
    }
   
  }
}
